In [9]:
from sklearn.neural_network import MLPClassifier
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [10]:
df = pd.read_csv("car.csv")
df

         c1     c2     c3    c4     c5    c6 Classification
0     vhigh  vhigh      2     2  small   low          unacc
1     vhigh  vhigh      2     2  small   med          unacc
2     vhigh  vhigh      2     2  small  high          unacc
3     vhigh  vhigh      2     2    med   low          unacc
4     vhigh  vhigh      2     2    med   med          unacc
...     ...    ...    ...   ...    ...   ...            ...
1723    low    low  5more  more    med   med           good
1724    low    low  5more  more    med  high          vgood
1725    low    low  5more  more    big   low          unacc
1726    low    low  5more  more    big   med           good
1727    low    low  5more  more    big  high          vgood

[1728 rows x 7 columns]

In [11]:
df.c1 = pd.Categorical(pd.factorize(df.c1)[0])
df.c2 = pd.Categorical(pd.factorize(df.c2)[0])
df.c3 = pd.Categorical(pd.factorize(df.c3)[0])
df.c4 = pd.Categorical(pd.factorize(df.c4)[0])
df.c5 = pd.Categorical(pd.factorize(df.c5)[0])
df.c6 = pd.Categorical(pd.factorize(df.c6)[0])
# df.Classification = pd.Categorical(pd.factorize(df.Classification)[0])
df

     c1 c2 c3 c4 c5 c6 Classification
0     0  0  0  0  0  0          unacc
1     0  0  0  0  0  1          unacc
2     0  0  0  0  0  2          unacc
3     0  0  0  0  1  0          unacc
4     0  0  0  0  1  1          unacc
...  .. .. .. .. .. ..            ...
1723  3  3  3  2  1  1           good
1724  3  3  3  2  1  2          vgood
1725  3  3  3  2  2  0          unacc
1726  3  3  3  2  2  1           good
1727  3  3  3  2  2  2          vgood

[1728 rows x 7 columns]

In [12]:
X = df.drop(columns=['Classification'])
y = df.Classification

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=47)
clf = MLPClassifier(solver='lbfgs', hidden_layer_sizes=(15), random_state=1)

clf.fit(X, y)
p=clf.predict(X_test)

iweight=[]
for i in range(len(list(X))):
    iweight+=[clf.coefs_[0][i][0]]
fweight=[]
for i in range(len(list(X))):
    fweight+=[clf.coefs_[0][i][-1]]
print("Initial Weights:")
print(iweight)
print("Final Weights:")
print(fweight)

Initial Weights:
[0.8441821150449841, 2.168910909514362, -2.2680113865044587, 1.0849224891164282, -0.722285274173735, 0.9395091297552792]
Final Weights:
[-0.7938212554977669, -6.708949279833388, -0.16033527050068386, 2.857679671235874, -2.4093280508729156, 1.656212279643641]

In [14]:
ib=clf.intercepts_[0][0]
fb=clf.intercepts_[0][-1]
print("Initial Bias: \n",ib,"\nFinal Bias \n",fb)

Initial Bias:
 -0.022457356324299606
Final Bias
 10.980590690879342

In [15]:
print("------------------------")
print('Precision Score : ', precision_score(y_test, p, average= 'weighted', labels=np.unique(p)))
print('Recall Score \t: ', recall_score(y_test, p, average= 'weighted', labels=np.unique(p)))
acc = accuracy_score(y_test, p)
print('Accuracy \t: ', acc)
print('Error \t\t: ', 1-acc)
print("------------------------")

------------------------
Precision Score :  1.0
Recall Score 	:  1.0
Accuracy 	:  1.0
Error 		:  0.0
------------------------

In [16]:
df = pd.DataFrame({'Classification':y_test, 'Predicted': p})
df

    Classification Predicted
189          unacc     unacc
364          unacc     unacc
973          unacc     unacc
351          unacc     unacc
781            acc       acc
..             ...       ...
548          unacc     unacc
838          unacc     unacc
999          unacc     unacc
259            acc       acc
471          unacc     unacc

[519 rows x 2 columns]